{% extends 'base.html.twig' %}

    {% block body %}
        <h1>{{ title | upper }}</h1>
        <p>LoremMollit exercitation dolore commodo aute id laboris et do aliqua. Irure consequat eu 
        aute ea qui consectetur velit aute. Velit proident nisi officia consectetur exercitation laborum 
        aute proident aute ad elit tempor sit irure. Reprehenderit amet nisi anim nisi non qui incididunt. 
        Deserunt ex velit quis irure eu irure officia aute nulla reprehenderit. Sunt dolore quis duis excepteur 
        velit id qui nulla sit qui.</p>
        
    {% endblock %}